.hero {
  padding: 2rem 1rem;
  background: linear-gradient(
    to bottom,
    rgba(245, 227, 146, 0) 0%,
    // transparente arriba
    rgba(232, 245, 233, 0.8) 20%,
    // verde claro en medio
    rgba(243, 182, 108, 0.8) 60%,
    // verde claro en medio
    rgba(232, 245, 233, 0) 100% // transparente abajo
  );
}
.hero__content {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.hero__logo {
  display: flex;
  justify-content: center;
  margin: 1rem auto 1rem auto;

  img {
    max-width: 220px;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(144, 238, 144, 0.6));
  }
}

.benefits__title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;

  color: #1b5508;
  margin: 2.5rem;
}

.benefits__intro {
  font-size: 0.95rem;
  color: #444;
  text-align: center;
  font-weight: 600;
  margin: 0 auto 1.5rem auto;
  line-height: 1.4;
}
.benefits-wrapper {
  padding: 2rem 1rem;
}

.benefits li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin: 0;
}

.benefit_icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin: 0 auto 0.5rem auto;
  display: block;
  fill: #2b6618;
  stroke: #faf0f0;
  background: #e8f5e9;
  border-radius: 50%;
  padding: 10px;
}

.benefits li p {
  position: relative;
  display: inline-block;
  font-size: 0.95rem;
  line-height: 1.4;
  text-align: center;
  padding: 0.2em 0.35em;
  border-radius: 0.4em;
  transition: transform 0.3s ease, color 0.3s ease, background 0.3s ease;
}

.benefits-grid {
  display: none;
}
.benefits-slider {
  position: relative;
  padding-bottom: 1rem;
}

.benefits-slider li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.custom-pagination {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 1rem;

  .swiper-pagination-bullet {
    background: none;
    width: auto;
    height: auto;
    opacity: 0.5;
    margin: 0 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 2rem;

    img {
      width: 20px;
      height: 20px;
      display: block;
    }
  }

  .swiper-pagination-bullet-active {
    opacity: 1;

    img {
      transform: scale(1.3);
      filter: drop-shadow(0 0 2px #81f23f);
      transition: transform 0.3s, filter 0.3s;
    }
  }
}
.section-separator {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.section-separator img {
  width: 90%;
  filter: brightness(0.8) contrast(1.2);
  transform: rotate(20deg);
  max-width: 1200px;
}
@media (min-width: 768px) {
  .section-separator img {
    width: 800px;
  }
  .benefits__title {
    font-size: 1.9rem;
    margin: 5rem auto 2rem auto;
    max-width: 600px;
    text-align: center;
  }
  .benefits__intro {
    margin: 0 auto 2rem auto;
    max-width: 600px;
    text-align: center;
  }
  .section-separator {
    margin: 2.5rem 0;
  }
  .section-separator img {
    transform: rotate(15deg);
  }
}
@media (min-width: 1024px) {
  .benefits__title {
    font-size: 2.2rem;
    margin: 6rem auto 2rem auto; // centrado
    max-width: 1000px;
    text-align: center;
  }
  .benefits__intro {
    font-size: 1.5rem;
    margin: 0 auto 1.5rem auto; // centrado
    max-width: 1000px;
    text-align: center;
  }
  .benefits-slider li {
    max-width: 200px;
  }
  .benefits-slider {
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 2rem;
  }

  .section-separator {
    margin: 3.5rem 0;
  }
  .section-separator img {
    width: 90%;
    max-width: 1500px;
    transform: rotate(10deg);
  }
}
@media (min-width: 1440px) {
  .hero__content {
    max-width: 1200px;
   
  }
  .section-separator img {
    transform: rotate(12deg);
    max-width: 1900px;
  }
}

@media (min-width: 1920px) {
  .hero__content {
    max-width: 1400px;
  }
  .benefits__title {
    font-size: 2.6rem;
  }
   .benefits__intro {
    font-size: 1.7rem;
  }
    .benefit_icon {
    width: 70px;
    height: 70px;
    padding: 12px;
  }
  .benefits-slider p,
    .benefits li p {
    font-size: 1.2rem;
  }
}

@media (min-width: 2560px) {
  .hero__content {
    max-width: 2500px;
  }
  .section-separator img {
    max-width: 1800px;
  }
  .benefits__title {
    font-size: 3rem;
  }
   .benefits__intro {
    font-size: 1.9rem;
  }
    .benefit_icon {
    width: 80px;
    height: 80px;
    padding: 14px;
  }
   .benefits-slider li p,
   .benefits-grid li p {
    font-size: 1.4rem;
  }
}
