.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: rgb(48, 230, 121);
  position: relative;

  &__toggle {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: block;

    
    .navbar__icon {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }

  &__menu {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;

    &.open {
      transform: scaleY(1);
      opacity: 1;
    }

    li {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #eee;

      .navbar__link {
        text-decoration: none;
        color: #333;
        font-weight: 500;

        &:hover {
          color: #3c9d9b;
        }

        &--button {
          background-color: #dea258;
          color: white;
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
          font-weight: 600;
          display: inline-block;

          &:hover {
            background-color: #87c529;
            color: white;
          }
        }
      }
    }
  }

  .navbar__logo {
    height: 40px;
    display: flex;
    align-items: center;

    img {
      height: 100%;
      width: auto;
      display: block;
    }
  }

  
  @media (min-width: 768px) and (max-width: 1023px) {
    &__toggle {
      display: none;
    }

    &__menu {
      display: flex;
      position: static;
      flex-direction: row;
      align-items: center;
      width: auto;
      background: transparent;
      box-shadow: none;
      transform: none;
      opacity: 1;
      transition: none;

      li {
        border: none;
        margin: 0; 
      }
    }

    .navbar__logo {
      height: 55px; 
    }
  }
  
   @media (min-width: 1024px) {
    &__toggle {
      display: none; /* 👈 para ocultar hamburguesa */
    }

    &__menu {
      display: flex;
      position: static;
      flex-direction: row;
      align-items: center;
      width: auto;
      background: transparent;
      box-shadow: none;
      transform: none;
      opacity: 1;
      transition: none;

      li {
        border: none;
        margin: 0 1rem;
      }
    }

    .navbar__logo {
      height: 70px;
    }
  }
}


