.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;

  &__brand img {
    height: 60px; // ajusta según tu logo
  }

  &__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 1rem;
    }

    .navbar__link {
      text-decoration: none;
      color: #333;
      font-weight: 500;

      &:hover {
        color: #3c9d9b; 
      }
    }

    .navbar__link--button {
      background-color: #d1752a;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-weight: 600;

      &:hover {
        background-color: #87c529;
        color:white;
      }
    }
  }
}

