.services{
  background-color: #fff;         
  text-align: center;
  padding: 4rem 2rem;

  padding-bottom: 16rem;            

  h2{ font-size: 2rem; margin-bottom: 1rem; }
  p{ max-width: 700px; margin: 0 auto; line-height: 1.6; }
}

