body{
  font-family: 'Montserrat';
  font-size: 0.9rem;
}
html {
  scroll-behavior: smooth;
}
section[id] { scroll-margin-top: 84px; } 

.logog__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;

  img {
    max-width: 90%;   
    height: auto;
  }


  @media (min-width: 768px) {
    img {
      max-width: 60%;
    }
  }

  @media (min-width: 1024px) {
    img {
      max-width: 50%;
    }
  }

  
  @media (min-width: 1440px) {
    img {
      max-width: 35%;
    }
  }
}

