.logog__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;

  img {
    max-width: 90%;   
    height: auto;
  }


  @media (min-width: 768px) {
    img {
      max-width: 70%;
    }
  }

  @media (min-width: 1024px) {
    img {
      max-width: 50%;
    }
  }

  
  @media (min-width: 1440px) {
    img {
      max-width: 35%;
    }
  }
}
